<!DOCTYPE html>
<html>
<head>
  <title>Splurty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="col-xs-3">
            <a href="http://splurty-michael-sd.herokuapp.com/" class="logo">
        <div class="logo-roundel">
          <span class="logo-site-name"></span>
          <span class="left-n">m</span>
          <span class="right-n">Q</span>
        </div>
      </a>
    </div>
    <div class="col-xs-4 slogan">
      major.Quote - Positivity and Progression
    </div>
    <div class="col-xs-5 links">
      <%= link_to 'Contribute', '#' %>
      <%= link_to 'About', '#' %>
    </div>
  </header>
  <hr />
  <br class="clear" />

<div class="container">
  <%= yield %>
</div>

<div class="footer">
  <div class="container">
    <div class="col-xs-6">
      <%= link_to "More Motivation", "#", class: 'next-quote' %>
    </div>
    <div class="col-xs-6 footer-blurb">
      Created and developed by <a href="http://michaelsd.getforge.io">Michael</a><br />
    </div>
  </div>
</div>

</body>
</html>
